<body class="d-flex h-100 text-start text-black bg-secondary">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>{{greeting}} Roy</h1>
            <p class="lead">Welcome to our App Store, Search for anything you like. Click the Below Button</p>
            <p class="lead">
              <button class="btn btn-lg btn-dark fw-bold text-white border-primary bg-black"
              (click)="function()">Click Here</button>
            </p>
          </main>
    </div>
</body>