<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white">PRODUCT LIST</a>
    <form class="d-flex">
      <button class="btn  btn-warning" (click)="logout()">Logout</button>
      <button class="btn  btn-warning" type="submit" routerLink="/feature/add-product">ADD PRODUCT</button>
    </form>
  </div>
</nav>

<table class="table table-dark table-striped">
  <thead>
      <tr>
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">StockUnits</th>
        <th scope="col">Action</th>

      </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let product of products ; index as i" >
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.price}}</td>
      <td>{{product.Stock_units}}
        <div *ngIf="product.Stock_units > 10;">
          <span style="color: rgb(27, 160, 27);">Available</span>
        </div>

        <div *ngIf="product.Stock_units <= 10 && product.Stock_units > 3;">
          <span style="color:rgb(235, 118, 15);">
            {{product.Stock_units}} left</span>
        </div>

        <div *ngIf="product.Stock_units <= 3;">
          <span style="color:rgb(240, 82, 82);">Few in stocks</span>
        </div>
      </td>
      <td><button class="btn" routerLink='/feature/product-details/{{ i }}' >View Details</button></td>
  </tr>
  </tbody>
</table>